services:
  nginxprox:
    image: okteto.dev/node-hello-world:1.0.0
    build: rev
    ports:
      - 3000:3000
    restart: always

  cloudflared:
    image: erisamoe/cloudflared
    restart: unless-stopped
    command: tunnel run
    environment:
      - TUNNEL_TOKEN=eyJhIjoiM2FhZTdlZTMyZWUwNWU5ZDU5NWNkYWU1MjIwMTZjZDMiLCJ0IjoiODUyMjllYmEtNTExZS00ODhmLTg3OWUtNWQ0ZTdjNGI2ZDVhIiwicyI6Ik5EZGlNbVEwTXpjdFlUVXlOUzAwWlRreExXRXhZekF0Wm1ZeU0yWTFPR0prTVRWaSJ9
    depends_on:
      - mylnx

  mylnx:
    image: lscr.io/linuxserver/openssh-server:latest
    environment:
      - PUID=0
      - PGID=0
      - TZ=Asia/Jakarta
      - PUBLIC_KEY=ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDq/DEjAuFKK2hCpP58oNcc/NB8phiJJvftNpVKmsTfPKs4fFhOFm2m3xptertcZQ8V5orOCJFtSZPJSLqzpzCGJN2FdHWbgoiAtDepypTjqeY5CF7A5LIIKVDH2JQEpMDmQg7Q8Ui1QESW2q7c6rLtylEwP8J0o6bY4RiGkh+qTXqTQB6Ev95Gy0wxVaWDpjmAIoRI+pDQdpEcK/gMkazdlBeOJF0byN69D71HXBOt8dByyRsclNOEZuIqfQdOV8/yYebrVkpGSpwp3J2HGWDs51zGi7j+lvPJICtWq/E8MRcgf95vyKbwIvIXG2CQAUVlqK+u20HXExPRVlCuvfej root@localhost
      - USER_PASSWORD=unix
      - USER_NAME=unix
    ports:
      - "1-65535"
    volumes:
      - root:/root
    restart: unless-stopped

volumes:
  root: